<rtc-navbar></rtc-navbar>
<div class="container-wrapper container d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">
    <h2 class="text-center">Signup</h2>
    <form [formGroup]="signupForm" (submit)="submit()" novalidate>
      <div class="name-wrapper d-flex">
        <div class="form-group firstName">
          <input 
            type="text" 
            class="form-control"
            placeholder="First Name"
            formControlName="firstName" 
            id="firstName-input">
        </div>
        <div class="form-group lastName">
          <input 
            type="text" 
            class="form-control"
            placeholder="Last Name"
            formControlName="lastName" 
            id="lastName-input">
        </div>
      </div>      
      <div class="form-group">
        <input 
          type="email" 
          class="form-control"
          placeholder="Enter Email"
          formControlName="email" 
          id="email-input">
      </div>
      <div class="form-group">
        <input 
          type="password" 
          class="form-control"
          placeholder="Enter Password"
          formControlName="password" 
          id="password-input">
      </div>
      <button 
        type="submit" 
        class="btn btn-primary" 
        >Submit</button>
    </form>
    <small><a routerLink="/login">Already have an account?</a></small>
  </div>
</div>